<div class="header">
  <div class="column-3">
    <h1 class="logo"><i class="fa fa-try"></i> twrk.</h1>
  </div>
  <div class="column-7 hidden-xs">&nbsp;</div>
  <div class="column-2">
    <h3 class="visible-xs">there's only one thing left to do..</h3>
    <a class="btn btn-twerk visible-xs" ui-sref="twerk-calibrate"  href="#">twerk</a>
    <a class="btn btn-twerk hidden-xs" ng-click="joinTwerk();" href="#">how to get twrkin</a>
  </div>
</div>

<div class="wrapper top center hidden-xs">
  <h1 class="intro top">Twerk like the badass that you are</h1>
  <br>
  <a class="btn btn-twerk btn-xl hidden-xs" ui-sref="watch-twerk"  href="#">watch</a>
  <a href=""></a>
</div>

<div class="wrapper top hidden-xs center explain">
  <div class="column-6 top">
    <h1><i class="fa fa-desktop"></i></h1>
    <h1>Desktop</h1>
    <p>Watch some seriously hawt shit. Let's be real, even NASA doesn't have this shit.</p>
  </div>
  <div class="column-6 top">
    <h1><i class="fa fa-mobile"></i></h1>
    <h1>Mobile</h1>
    <p>Get yo mofuckin' twerk on! Choose a name and avatar and shake dat ass.</p>
  </div>
</div>

<!--
some like marketing formal bull shit that we're not using anymore
<div class="wrapper center top">
  <div class="column-8 left">
    <h1 class="intro">the world's leading + first twerk dance party application</h1>
    <p class="intro">visit us on your mobile phone to play<br/> use your desktop to watch the virtual party</p>
  </div>
  <div class="column-4 hidden-xs">
    <img class="img-responsive" src="images/iphone.png" alt="">
  </div>
</div> -->
