<div class="header">
  <div class="column-3">
    <h1 class="logo"><i class="fa fa-try"></i> twrk.</h1>
  </div>
  <div class="column-7 hidden-xs">&nbsp;</div>
  <div class="column-2">
    <a class="btn btn-watch hidden-xs" href="#" ng-click="joinTwerk();">join</a>
    <a class="btn btn-twerk visible-xs" ui-sref="twerk-do"  href="#">twerk</a>
  </div>
</div>

<div class="wrapper">
  <div class="column-12 ">
    <h1 class="logo">Watch the Twerk Party</h1>
  </div>
</div>
<div class="wrapper center">
  <div class="column-8">
    <!-- This is where a live visual representation of the twerk party will go; this divider is temporary-->
    <canvas id="myCanvas" class="watchTwerking"></canvas>
  </div>
  <div class="column-4">
    <!-- display the participants-->
    <div class="twerkTeam">
      <h1 class="twerkTeamHeader">Twerk Team</h1>
      <p class="twerkUser">User 1</p>
      <hr>
      <p class="twerkUser">User 2</p>
      <hr>
      <p class="twerkUser">User 3</p>
    </div>
  </div>
</div>


<!--
some like marketing formal bull shit that we're not using anymore
<div class="wrapper center top">
  <div class="column-8 left">
    <h1 class="intro">the world's leading + first twerk dance party application</h1>
    <p class="intro">visit us on your mobile phone to play<br/> use your desktop to watch the virtual party</p>
  </div>
  <div class="column-4 hidden-xs">
    <img class="img-responsive" src="images/iphone.png" alt="">
  </div>
</div> -->
