<div class="header">
  <div class="column-3">
    <h1 class="logo"><a href="/"><i class="fa fa-try"></i> twrk.</a></h1>
  </div>
  <div class="column-7 hidden-xs">&nbsp;</div>
</div>

<div class="wrapper quarter-top">
  <div class="column-12">
    <input type="text" placeholder="User13551" class="form-control enter-username">
    <a href="" ng-hide="avatar" class="btn btn-twerk avi" ng-click="chooseAvatar();"><span>choose avatar</span></a>
    <img ng-src="/images/avatars/{{avatar}}.png" ng-if="avatar" class="user-photo" alt="">
    <h3>Drop me in your back pocket and <span class="bold">GET DOWN</span> with yo twerky self. Watch the party from a computer at twrk.co</h3>
  </div>

  <div class="hide">
    <div id="dataContainerOrientation"></div>
    <div id="dataContainerMotion"></div>
    <div id="dataContainerAcceleration"></div>
  </div>

</div>
