<div class="header">
  <div class="column-3">
    <h1 class="logo"><i class="fa fa-try"></i> twrk.</h1>
  </div>
  <div class="column-7 hidden-xs">&nbsp;</div>
  <div class="column-2">
    <a class="btn btn-twerk visible-xs" ui-sref="twerk-do"  href="#">twerk</a>
    <a class="btn btn-twerk" ui-sref="watch-twerk"  href="#">watch</a>
    <a class="btn btn-watch hidden-xs" ng-click="joinTwerk();" href="#" >twerk</a>
  </div>
</div>

<div class="wrapper top">
  <div id="dataContainerOrientation"></div>
  <div id="dataContainerMotion"></div>
  <div id="dataContainerAcceleration"></div>
</div>
