<div class="header">&nbsp;</div>
  <div class="wrapper">
    <div class="column-12 ">
      <h1 class="logo">Watch the Twerk Party</h1>
    </div>
  </div>
  <div class="wrapper center">
    <div class="column-8">
      <!-- This is where a live visual representation of the twerk party will go; this divider is temporary-->
      <canvas id="myCanvas" width=600 height=300 class="watchTwerking"></canvas>
    </div>
    <div class="column-4">
      <!-- display the participants-->
      <div class="twerkTeam">
        <h1 class="twerkTeamHeader">Twerk Team</h1>
        <p class="twerkUser"><img src="images/tempavatar.svg" width="10">User 1</p>
        <hr>
        <p class="twerkUser">User 2</p>
        <hr>
        <p class="twerkUser">User 3</p>
      </div>
    </div>
    <div class="column-8" twrk-view>
      
    </div>
  </div>
