<!DOCTYPE html>
<html lang="en">
<head>
<script>
window.SERVER_URL = "<%= SERVER_URL %>";
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Stuff</title>
<base href="/">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/dist/css/style.css">
</head>
<body>

  <div ui-view="content">

  </div>

  <div class="footer">
    <a href="http://www.comedyhackday.org/nyc-2015" target="_blank"><img src="images/chd.png" alt=""></a>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/p2.js/0.6.1/p2.min.js"></script>
  <script src="//cdn.rawgit.com/schteppe/p2.js/master/build/p2.renderer.min.js"></script>
  <script src="/dist/app.js"></script>
</body>
</html>
