#stage {
  display: block;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.light {
  display: inline-block;
  position: absolute;
  background-blend-mode: color-dodge;
  width: 50px;
  height: 100%;
  top: -300px;
  left: 0;
  opacity: .14;
  transform-origin: 0px 25px;
}

@-webkit-keyframes strobing {
  0% {
    transform: rotateZ(15deg);
  }

  50% {
    transform: rotateZ(-15deg);
  }

  100% {
    transform: rotateZ(15deg);
  }
}

#cyanLight {
  left: 0px;
  border-bottom: 1400px solid $cyan500; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  -webkit-animation: strobing 3s 0s alternate infinite;
}

#pinkLight {
  left: 125px;
  border-bottom: 1400px solid $pinkA200; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  -webkit-animation: strobing 3s 0.5s alternate infinite;
}

#purpleLight {
  border-bottom: 1400px solid $purple500; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  left: 250px;
  -webkit-animation: strobing 3s 0.75s infinite;
}

#yellowLight {
  border-bottom: 1400px solid $yellow500; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  left: 375px;
  -webkit-animation: strobing 3s 0.25s infinite;
}

#greenLight {
  border-bottom: 1400px solid $lightgreen500; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  left: 500px;
  -webkit-animation: strobing 3s 0.66s infinite;
}

#redLight {
  border-bottom: 1400px solid $red600; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  left: 625px;
  -webkit-animation: strobing 3s 1.25s infinite;
}

#cyanLight2 {
  left: 750px;
  border-bottom: 1400px solid $cyan500; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  -webkit-animation: strobing 3s 0s alternate infinite;
}

#pinkLight2 {
  left: 875px;
  border-bottom: 1400px solid $pinkA200; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  -webkit-animation: strobing 3s 0.5s alternate infinite;
}

#purpleLight2 {
  border-bottom: 1400px solid $purple500; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  left: 1000px;
  -webkit-animation: strobing 3s 0s infinite;
}

#yellowLight2 {
  border-bottom: 1400px solid $yellow500; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  left: 1125px;
  -webkit-animation: strobing 3s 0.5s infinite;
}
