#stage {
  display: flex;
  /*align-items: center;*/
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.light {
  display: inline-block;
  background-blend-mode: color-dodge;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .48;
}

#cyanLight { 
  left: 0px;
  width: 100px;
  border-bottom: 742px solid $cyan500; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

#pinkLight { 
  left: 125px;
  border-bottom: 742px solid $pinkA200; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

#purpleLight {
  border-bottom: 742px solid $purple500; // need to set properly
  border-left: 10px solid transparent;
  border-right: 50px solid transparent;
  left: 250px;
}

#yellowLight {
  border-bottom: 742px solid $yellow500; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  left: 375px;
}

#greenLight {
  border-bottom: 742px solid $lightgreen500; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  left: 500px;
}

#redLight {
  border-bottom: 742px solid $red600; // need to set properly
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  left: 625px;
}

