body {
  background:$primary-color;
  font-family:$base-font;
}

.header { background:$secondary-color; }
.logo { font-family:$base-font;
  color:$tertiary-color;
  font-size: 60px;
}

.col { background:#999;
  text-align: center;
  border: 1px solid #fff;
  color:#fff;
  padding:30px 0;
}

.col input {
  @include placeholder {
    color: red;
  }
}

.col a {
  @include transition-all('2s');
  &:hover { opacity:0.8; }
}
