body {
    /* background: $primary-color; */
    background: url(/images/bg.png);
    background-size:cover;
    font-family: $base-font;
}

.header { background:$secondary-color; }

.logo { font-family:$base-font;
  color:$light-b;
  font-size: 60px;
  text-align:center;
}

.header {
    background: $secondary-color;
}

.col {
    background: #999;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    padding: 30px 0;
}

.col input {
    @include placeholder {
        color: red;
    }
}

.col a {
  @include transition-all('2s');
  &:hover { opacity:0.8; }
}

.btn {
  font-size:40px;
  padding:5px 40px;
  &.btn-twerk { background:transparent; border-color:$light-b; color:$light-b;
    &:hover { color:#fff; border-color:#fff; }
  }
  &.btn-watch { background:transparent; border-color:$light-b; color:$light-b;
    &:hover { color:#fff; border-color:#fff; }
  }
}
