// grid variables
$grid-columns: 12;
$grid-max-width: 75em;

// fonts
$base-font-size: 16px !default;


// breakpoints
$bp-small: "only screen and (min-width: 20em)";
$bp-medium: "only screen and (min-width: 30em)";
$bp-large: "only screen and (min-width: 60em)";
