// MIKE AMAZEGRID 1.0

@import "variables";
@import "mixins";
@import "grid";

// Chelsea so cool so awesome
@import 'colors';

// PROJECT
@import "twrk";
.nobgplz {
  height: 100%;
  width: 100%;
  background-color: $grey900;
}

.watchTwerking {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: $cyan50;
  display: block;
}

.twerkTeam {
  display: block;
  height: 300px;
  background-color: $grey50;
  width: 100%;
}

.twerkTeamHeader {
  margin: 0;
  display: block;
  color: $grey900;
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
  background-color: $grey300;
  padding: 10px;
}

.twerkUser {
  margin: 0;
  padding: 5px;
  color: $grey800;
}

hr {
  position: relative;
  border: 0;
  margin: 0;
  border-bottom: solid 1px $grey200;
  width: 90%;
}