<div class="modal-body">
  <h1 class="modal-title center">choose your avatar</h1>
  <div class="avatar-list">
    <div class="radio">
      <label for="1"><img src="http://a3.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjM0MjAzODMzODY4.jpg" width="10px" height="10px" alt=""></label>
      <input type="radio" name="1" id="1">
    </div>
    <div class="radio">
      <label for="2"><img src="http://a3.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjM0MjAzODMzODY4.jpg" width="10px" height="10px" alt=""></label>
      <input type="radio" name="2" id="2">
    </div>
    <div class="radio">
      <label for="3"><img src="http://a3.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjM0MjAzODMzODY4.jpg" width="10px" height="10px" alt=""></label>
      <input type="radio" name="3" id="3">
    </div>
    <div class="radio">
      <label for="4"><img src="http://a3.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjM0MjAzODMzODY4.jpg" width="10px" height="10px" alt=""></label>
      <input type="radio" name="4" id="4">
    </div>
    <div class="radio">
      <label for="5"><img src="http://a3.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjM0MjAzODMzODY4.jpg" width="10px" height="10px" alt=""></label>
      <input type="radio" name="5" id="5">
    </div>
  </div>
</div>
