<div class="modal-body">
  <div class="alert-modal">
    <h1 class="modal-title">how to join</h1>
    <h3>1. watch from anywhere - twerk from mobile.</h3>
    <h3>2. grab the closest advanced cellular telephone.</h3>
    <h3>3. visit this same webpage. or twrk.co</h3>
    <h3>4. put your phone in your back pocket.</h3>
    <h3>5. twerk.</h3>

    <h1>pro tips:</h1>
    <h3>keep your phone on, with the web page displayed when you put it in your pocket. </h3>
    <h3>keep your phone's lock off for best performance.</h3>

    <img src="/images/pocket.gif" alt="">
  </div>
</div>
